
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
venv1/
venv2/
ENV/

# IDEs
.idea/
.vscode/

# Project Specific
save_data/
credentials.json
replay_pid*.log
*.spec
